header{
    background-color: black;
    color: white;
}

.header-static{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.header-static > img{
    height: auto;
    width: 50px;
}

.dropdown_menu{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dropdown_menu > li {
    padding: 10px;
    list-style: none;
}

.slideshow{
    max-width: 100vw;
}
.mySlides {
    display:none;
    width: 100%;
}





@media only screen and (max-width: 600px) {
    .dropdown_menu{
        display: none;
        flex-direction: row;
        justify-content: space-around;
    }
    #dropdown-content > li:hover {
        padding: 10px;
        color: lightblue;
        text-decoration: underline;
    }
    body {
      background-color: lightblue;
    }
  }