header{
    background-color: black;
    color: white;
}

.header-static{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.header-static > img{
    height: auto;
    width: 50px;
}

.dropdown-content{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dropdown-content > div {
    padding: 10px;
}
body > div {
    display: flex;
    align-items: center;
    justify-content: center;
}